<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="css">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='css' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='css' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='css' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="css">
    
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#page-top"> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Resources</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ABOUT US</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/chloe.png" alt="">
              <h4>Chloe Cheng</h4>
              <ul1 class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/chloexcheng/">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
              <h4>Lila Souza</h4>
              <ul1 class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/souzaalilaaa/">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/Picture3.png" alt="">
              <h4>Veronica Cheung</h4>
              <ul1 class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/lolurnotveronica/">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">We are girls from Kode With Klossy! Thank you for visiting our webapp. It means a lot. </p>
          </div>
        </div>
      </div>
    </section>

   
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>