<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <title>TIWIK</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
    
/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: black;*/
/*}*/

/*li {*/
/*    float: right;*/
/*}*/

/*li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 25px;*/
/*}*/


h1 {
    font-size: 50px;
}

/*h2 {*/
/*    height: 110%;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    position: fixed;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 25px;*/
/*}*/
h4 {
    font-family: myCoolFont;
}
body {
    background: url("https://static.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg") 50% 50% no-repeat;
    /*width: 250px;*/
    /*height: 250px;*/
    text-align: center;
    margin-top: 150px;
}
</style>
  </head>
  <body> 
  
  <a class="active" href="https://lilasouza-souzaalilaaa.c9users.io/">Home</a>
  <a href="https://preview.c9users.io/souzaalilaaa/lilasouza/finalproject/startbootstrap-agency/aboutus.html?_c9_id=livepreview2&_c9_host=https://ide.c9.io">About</a>
  <h1>TIWIK</h1>
  <h3>Things I Wish I Knew</h3>
  
  
<div class="col-lg-8 mx-auto text-center">
            <h4>This is an app that helps people who have loved ones diagnosed with cancer.</h4>
            <h4>Select a topic and we will give you advice.</h4>
          </div>
          <form method=POST>
    <select name="support">
      <option value="Education">Education</option>
      <option value="Talking It Through">Talking It Through</option>
      <option value="Encouragement">Encouragement</option>
      <option value="Activities To Do">Activities To Do</option>
      <option value="Taking care of yourself">Taking care of yourself</option>
    </select>
    <br>
    <input type="submit">
    
  </form>




  </body>
</html>
