<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    
    <style>
        body {
            background: url("https://preview.ibb.co/iTtLRk/IMG_4068.jpg") no-repeat;
            background-size: cover;
            font-family: 'Saira Extra Condensed', sans-serif;
            color:white;
            text-align: center;
            margin-top: 50px;
            font-size: 35px;
        }
    </style>
  </head>
  <body>
  <h1>Here are some resources.</h1>
  <%=@helpfromus%>
   <br>
   <br>
   <a href="<%=@linkoutput%>"><%=@linkname%></a>
   <br>
   <!--<a href=""></a>-->
   <%=@output2%>
   <br>
  <!--<p></p>-->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
  </body>
</html>