@font-face {
    font-family: myFont;
    src: url(pea.ttf);
}
@font-face {
    font-family: myCoolFont;
    src: url(Luna.ttf);
}
h3 {
    font-family: myCoolFont;
}

h4 {
    font-family: myCoolFont;
}

h1 {
    font-family: myCoolFont;
}

ul {
    font-family: myCoolFont;
}

a {
    font-family: myCoolFont;
}
a:hover {
    font-size:15px;
    font-family: myCoolFont;
}